<header class="header-global">
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="/">
        <i class="fa fa-home fa-3x" aria-hidden="true"></i>
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="/">
                Home
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item dropdown">
            <a href="/blog" class="nav-link">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner--text">blog</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="/archives" class="nav-link">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner--text">archives</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="/tags" class="nav-link">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner--text">tags</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="{{ site.links.facebook }}" target="_blank" data-toggle="tooltip" title="@iamjagjeetubhi">
              <i class="fa fa-facebook-square"></i>
              <span class="nav-link-inner--text d-lg-none">Facebook</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="{{ site.links.instagram }}" target="_blank" data-toggle="tooltip" title="@jaggjitt">
              <i class="fa fa-instagram"></i>
              <span class="nav-link-inner--text d-lg-none">Instagram</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="{{ site.links.twitter }}" target="_blank" data-toggle="tooltip" title="@iamjagjeetubhi">
              <i class="fa fa-twitter-square"></i>
              <span class="nav-link-inner--text d-lg-none">Twitter</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="{{ site.links.github }}" target="_blank" data-toggle="tooltip" title="@iamjagjeetubhi">
              <i class="fa fa-github"></i>
              <span class="nav-link-inner--text d-lg-none">Github</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
